USE [master]
GO
/****** Object:  Database [NotesMarketplace]    Script Date: 27-03-2021 18:01:16 ******/
CREATE DATABASE [NotesMarketplace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotesMarketplace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FINALPATEL\MSSQL\DATA\NotesMarketplace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotesMarketplace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FINALPATEL\MSSQL\DATA\NotesMarketplace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotesMarketplace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotesMarketplace]
GO
/****** Object:  Table [dbo].[AdminProfile]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/User] [int] NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[ProfilePicture] [varchar](max) NULL,
	[SecondaryEmail] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_AdminProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTC]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTC](
	[P.K/CTC] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CTC] PRIMARY KEY CLUSTERED 
(
	[P.K/CTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DownloadedNotes]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadedNotes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/Note] [int] NOT NULL,
	[F.K/User/Seller] [int] NOT NULL,
	[F.K/User/Buyer] [int] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[SellPrice] [int] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Attachment] [varchar](max) NULL,
 CONSTRAINT [PK_DownloadedNotes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[question] [varchar](max) NOT NULL,
	[answer] [varchar](max) NOT NULL,
 CONSTRAINT [PK_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/Note] [int] NOT NULL,
	[F.K/User] [int] NOT NULL,
	[Review] [int] NOT NULL,
	[Comments] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageCTC]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageCTC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/CTC] [int] NOT NULL,
	[Value] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CountryCode] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ManageCTC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotesDetails]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotesDetails](
	[P.K/Note] [int] IDENTITY(1,1) NOT NULL,
	[F.K/User] [int] NOT NULL,
	[F.K/NoteStatus] [int] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[BookPicture] [varchar](max) NULL,
	[NoteAttachment] [varchar](max) NOT NULL,
	[NoteType] [varchar](100) NULL,
	[NumberOfPages] [int] NULL,
	[NotesDescription] [varchar](max) NOT NULL,
	[InstitutionName] [varchar](200) NULL,
	[Country] [varchar](100) NULL,
	[Course] [varchar](100) NULL,
	[CourseCode] [varchar](100) NULL,
	[Professor] [varchar](100) NULL,
	[SellPrice] [int] NOT NULL,
	[NotePreview] [varchar](max) NULL,
	[NoteSize] [int] NULL,
	[PublishedDate] [datetime] NULL,
	[Remark] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NotesDetails] PRIMARY KEY CLUSTERED 
(
	[P.K/Note] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotesStatus]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotesStatus](
	[P.K/NotesStatus] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NotesStatus] PRIMARY KEY CLUSTERED 
(
	[P.K/NotesStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpamReport]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpamReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/Note] [int] NOT NULL,
	[F.K/User] [int] NOT NULL,
	[Remark] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_SpamReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F.K/User] [int] NOT NULL,
	[UnderReviewNotes] [int] NOT NULL,
	[PublishedNotes] [int] NOT NULL,
	[DownloadedNotes] [int] NOT NULL,
	[TotalExpensis] [int] NOT NULL,
	[TotalEarning] [int] NOT NULL,
	[BuyerRequests] [int] NOT NULL,
	[SoldNotes] [int] NOT NULL,
	[RejectedNotes] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfiguration]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfiguration](
	[ID] [int] NOT NULL,
	[EmaillId1] [varchar](100) NOT NULL,
	[EmailId2] [varchar](100) NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[DefaultProfilePicture] [varchar](max) NOT NULL,
	[DefaultNotePreview] [varchar](max) NOT NULL,
	[FacebookUrl] [varchar](50) NOT NULL,
	[TwitterUrl] [varchar](50) NOT NULL,
	[LinkInUrl] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_SystemConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[ID] [int] NOT NULL,
	[F.K/User] [int] NOT NULL,
	[DOB] [datetime] NULL,
	[Gender] [varchar](10) NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[ProfilePicture] [varchar](max) NULL,
	[Address1] [varchar](100) NOT NULL,
	[Address2] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[ZipCode] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[University] [varchar](100) NULL,
	[College] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[P.K/UserRoles] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[P.K/UserRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-03-2021 18:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[P.K/User] [int] IDENTITY(0,1) NOT NULL,
	[F.K/UserRoles] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[EmailId] [varchar](100) NOT NULL,
	[Password] [varchar](24) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsDetailsSubmitted] [bit] NOT NULL,
	[CreaatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[P.K/User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTC] ON 

INSERT [dbo].[CTC] ([P.K/CTC], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Category', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CTC] ([P.K/CTC], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Type', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CTC] ([P.K/CTC], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Counties', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CTC] OFF
GO
SET IDENTITY_INSERT [dbo].[DownloadedNotes] ON 

INSERT [dbo].[DownloadedNotes] ([ID], [F.K/Note], [F.K/User/Seller], [F.K/User/Buyer], [IsApproved], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifedBy], [IsActive], [SellPrice], [Title], [Category], [Attachment]) VALUES (3009, 3, 21, 23, 1, CAST(N'2021-03-18T14:40:54.490' AS DateTime), NULL, NULL, NULL, 1, 120, N'dcdd', N'IT', N'2127022021103745.pdf')
INSERT [dbo].[DownloadedNotes] ([ID], [F.K/Note], [F.K/User/Seller], [F.K/User/Buyer], [IsApproved], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifedBy], [IsActive], [SellPrice], [Title], [Category], [Attachment]) VALUES (3010, 8, 21, 23, 1, CAST(N'2021-03-18T14:41:10.437' AS DateTime), NULL, NULL, NULL, 1, 120, N'sirst Note', N'IT', N'2127022021103745.pdf')
INSERT [dbo].[DownloadedNotes] ([ID], [F.K/Note], [F.K/User/Seller], [F.K/User/Buyer], [IsApproved], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifedBy], [IsActive], [SellPrice], [Title], [Category], [Attachment]) VALUES (3011, 11, 21, 23, 1, CAST(N'2021-03-18T14:41:35.477' AS DateTime), NULL, NULL, NULL, 1, 120, N'First Note', N'IT', N'2127022021103745.pdf')
SET IDENTITY_INSERT [dbo].[DownloadedNotes] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQ] ON 

INSERT [dbo].[FAQ] ([ID], [type], [question], [answer]) VALUES (1, N'General Questions', N'What is Marketplace-Notes?', N'Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.')
INSERT [dbo].[FAQ] ([ID], [type], [question], [answer]) VALUES (2, N'General Questions', N'Where did Notes Marketplace start?', N'What started out as four friends chucking around an idea in Ahmedabad ended up turning into an
earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.')
INSERT [dbo].[FAQ] ([ID], [type], [question], [answer]) VALUES (3, N'Uploaders', N'Why should I upload now?', N'To maximize sales. We can''t sell your notes if they are rotting on your hard drive. Your notes are
available for purchase the instant they are approved, which means that you could be missing potential
sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best
time to upload notes is always today.')
SET IDENTITY_INSERT [dbo].[FAQ] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [F.K/Note], [F.K/User], [Review], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (13, 151, 23, 4, N'Testing!!', CAST(N'2021-03-23T10:07:59.940' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Feedback] ([ID], [F.K/Note], [F.K/User], [Review], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (14, 37, 23, 4, N'Testing!!', CAST(N'2021-03-23T10:08:16.217' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Feedback] ([ID], [F.K/Note], [F.K/User], [Review], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (15, 151, 25, 3, N'wow!', CAST(N'2021-03-23T10:09:07.897' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageCTC] ON 

INSERT [dbo].[ManageCTC] ([ID], [F.K/CTC], [Value], [Description], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (5, 3, N'India', N'aaa', 91, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ManageCTC] ([ID], [F.K/CTC], [Value], [Description], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (6, 3, N'U.K', N'aaa', 43, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ManageCTC] ([ID], [F.K/CTC], [Value], [Description], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (7, 1, N'IT', N'aaa', NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ManageCTC] OFF
GO
SET IDENTITY_INSERT [dbo].[NotesDetails] ON 

SET IDENTITY_INSERT [dbo].[NotesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[NotesStatus] ON 

INSERT [dbo].[NotesStatus] ([P.K/NotesStatus], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Draft', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[NotesStatus] ([P.K/NotesStatus], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'In Review', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[NotesStatus] ([P.K/NotesStatus], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Submitted', NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NotesStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[SpamReport] ON 

INSERT [dbo].[SpamReport] ([ID], [F.K/Note], [F.K/User], [Remark], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (11, 151, 23, N'done!!', CAST(N'2021-03-23T09:36:01.317' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SpamReport] ([ID], [F.K/Note], [F.K/User], [Remark], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (12, 151, 25, N'Bad!!', CAST(N'2021-03-23T10:09:22.860' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpamReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Statistics] ON 

INSERT [dbo].[Statistics] ([ID], [F.K/User], [UnderReviewNotes], [PublishedNotes], [DownloadedNotes], [TotalExpensis], [TotalEarning], [BuyerRequests], [SoldNotes], [RejectedNotes]) VALUES (1, 21, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Statistics] ([ID], [F.K/User], [UnderReviewNotes], [PublishedNotes], [DownloadedNotes], [TotalExpensis], [TotalEarning], [BuyerRequests], [SoldNotes], [RejectedNotes]) VALUES (2, 23, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Statistics] ([ID], [F.K/User], [UnderReviewNotes], [PublishedNotes], [DownloadedNotes], [TotalExpensis], [TotalEarning], [BuyerRequests], [SoldNotes], [RejectedNotes]) VALUES (3, 25, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Statistics] OFF
GO
INSERT [dbo].[UserProfile] ([ID], [F.K/User], [DOB], [Gender], [PhoneNumber], [ProfilePicture], [Address1], [Address2], [City], [State], [ZipCode], [Country], [University], [College], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (21, 21, NULL, N'Male', N'+437359665133', N'21hfhbshvbadyig.png', N'K P VIDHYARTHI BHAVANabcd', N'NEAR CG ROAD,NAVRANGPURA', N'Caucasian/White', N'Gujarat', N'380006', N'U.K', N'GTU', N'VGEC', CAST(N'2021-03-17T11:35:54.010' AS DateTime), NULL, 1)
INSERT [dbo].[UserProfile] ([ID], [F.K/User], [DOB], [Gender], [PhoneNumber], [ProfilePicture], [Address1], [Address2], [City], [State], [ZipCode], [Country], [University], [College], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (23, 23, NULL, N'Female', N'+437359665133', N'23hfhbshvbadyig.png', N'K P VIDHYARTHI BHAVAN', N'NEAR CG ROAD,NAVRANGPURA', N'Ahmedabad', N'GUJARAT', N'380006', N'U.K', N'efef', N'err', CAST(N'2021-03-17T10:28:14.003' AS DateTime), NULL, 1)
INSERT [dbo].[UserProfile] ([ID], [F.K/User], [DOB], [Gender], [PhoneNumber], [ProfilePicture], [Address1], [Address2], [City], [State], [ZipCode], [Country], [University], [College], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (25, 25, CAST(N'2021-03-19T00:00:00.000' AS DateTime), N'Female', N'+917359665133', N'25hfhbshvbadyig.png', N'K P VIDHYARTHI BHAVAN', N'NEAR CG ROAD,NAVRANGPURA', N'Ahmedabad', N'Gujarat', N'380006', N'U.K', NULL, NULL, CAST(N'2021-03-19T13:37:11.560' AS DateTime), NULL, 1)
GO
INSERT [dbo].[UserRoles] ([P.K/UserRoles], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Member', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UserRoles] ([P.K/UserRoles], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Admin', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UserRoles] ([P.K/UserRoles], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'SuperAdmin', NULL, NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([P.K/User], [F.K/UserRoles], [FirstName], [LastName], [EmailId], [Password], [IsEmailVerified], [IsDetailsSubmitted], [CreaatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (21, 1, N'FINALaa', N'PATEL', N'FINAL16700@GMAIl.COM', N'123456', 1, 1, CAST(N'2021-02-20T14:00:19.327' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([P.K/User], [F.K/UserRoles], [FirstName], [LastName], [EmailId], [Password], [IsEmailVerified], [IsDetailsSubmitted], [CreaatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (23, 1, N'dummy', N'Patel', N'final167000@gmail.com', N'123456', 1, 1, CAST(N'2021-03-03T14:43:29.443' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([P.K/User], [F.K/UserRoles], [FirstName], [LastName], [EmailId], [Password], [IsEmailVerified], [IsDetailsSubmitted], [CreaatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (25, 1, N'Jhanavi', N'Patel', N'FINAL1670000@GMAIl.COM', N'123456', 1, 1, CAST(N'2021-03-04T12:27:43.787' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Users]    Script Date: 27-03-2021 18:01:31 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[P.K/User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminProfile] ADD  CONSTRAINT [DF_AdminProfile_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CTC] ADD  CONSTRAINT [DF_CTC_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DownloadedNotes] ADD  CONSTRAINT [DF_DownloadedNotes_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[DownloadedNotes] ADD  CONSTRAINT [DF_DownloadedNotes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((0)) FOR [Review]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageCTC] ADD  CONSTRAINT [DF_ManageCTC_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotesDetails] ADD  CONSTRAINT [DF_NotesDetails_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotesStatus] ADD  CONSTRAINT [DF_NotesStatus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [UnderReviewNotes]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [PublishedNotes]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [DownloadedNotes]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [TotalExpensis]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [TotalEarning]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [BuyerRequests]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [SoldNotes]
GO
ALTER TABLE [dbo].[Statistics] ADD  DEFAULT ((0)) FOR [RejectedNotes]
GO
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDetailsSubmitted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Users] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[AdminProfile] CHECK CONSTRAINT [FK_Admin_Users]
GO
ALTER TABLE [dbo].[DownloadedNotes]  WITH CHECK ADD  CONSTRAINT [FK_DownloadedNotes_Users] FOREIGN KEY([F.K/User/Seller])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[DownloadedNotes] CHECK CONSTRAINT [FK_DownloadedNotes_Users]
GO
ALTER TABLE [dbo].[DownloadedNotes]  WITH CHECK ADD  CONSTRAINT [FK_DownloadedNotes_Users1] FOREIGN KEY([F.K/User/Buyer])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[DownloadedNotes] CHECK CONSTRAINT [FK_DownloadedNotes_Users1]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_NotesDetails] FOREIGN KEY([F.K/Note])
REFERENCES [dbo].[NotesDetails] ([P.K/Note])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_NotesDetails]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Users]
GO
ALTER TABLE [dbo].[ManageCTC]  WITH CHECK ADD  CONSTRAINT [FK_ManageCTC_CTC] FOREIGN KEY([F.K/CTC])
REFERENCES [dbo].[CTC] ([P.K/CTC])
GO
ALTER TABLE [dbo].[ManageCTC] CHECK CONSTRAINT [FK_ManageCTC_CTC]
GO
ALTER TABLE [dbo].[NotesDetails]  WITH CHECK ADD  CONSTRAINT [FK_NotesDetails_NotesStatus] FOREIGN KEY([F.K/NoteStatus])
REFERENCES [dbo].[NotesStatus] ([P.K/NotesStatus])
GO
ALTER TABLE [dbo].[NotesDetails] CHECK CONSTRAINT [FK_NotesDetails_NotesStatus]
GO
ALTER TABLE [dbo].[NotesDetails]  WITH CHECK ADD  CONSTRAINT [FK_NotesDetails_Users] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[NotesDetails] CHECK CONSTRAINT [FK_NotesDetails_Users]
GO
ALTER TABLE [dbo].[SpamReport]  WITH CHECK ADD  CONSTRAINT [FK_SpamReport_NotesDetails] FOREIGN KEY([F.K/Note])
REFERENCES [dbo].[NotesDetails] ([P.K/Note])
GO
ALTER TABLE [dbo].[SpamReport] CHECK CONSTRAINT [FK_SpamReport_NotesDetails]
GO
ALTER TABLE [dbo].[SpamReport]  WITH CHECK ADD  CONSTRAINT [FK_SpamReport_Users] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[SpamReport] CHECK CONSTRAINT [FK_SpamReport_Users]
GO
ALTER TABLE [dbo].[Statistics]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_Users] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[Statistics] CHECK CONSTRAINT [FK_Statistics_Users]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [F.K/User_UserProfile] FOREIGN KEY([F.K/User])
REFERENCES [dbo].[Users] ([P.K/User])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [F.K/User_UserProfile]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles] FOREIGN KEY([F.K/UserRoles])
REFERENCES [dbo].[UserRoles] ([P.K/UserRoles])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_UserRoles]
GO
USE [master]
GO
